ul#tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #c3c4c7;
}

ul#tabs li {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #c3c4c7;
    border-bottom: 0;
    margin-left: 0.5em;
    margin-bottom: 0;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 600;
    background: #dcdcde;
    color: #50575e;
    text-decoration: none;
    white-space: nowrap;
}

ul#tabs li a:focus {
    outline: none;
}

ul#tabs li a {
    color: #222;
    text-decoration: none;
}

ul#tabs li.current {
    border-bottom: 1px solid #f0f0f1;
    background: #f0f0f1;
    color: #000;
    margin-bottom: -1px;
}

ul#tabs li:hover {
    background: #f0f0f1;
    color: #000;
}

.tab-content {
    margin: 10px 7px;
    display: none;
}

.tab-content.current {
    display: block;
}

/* Định dạng bảng */
.simple-table {
    border-collapse: collapse;
    width: 100%;
}

/* Định dạng các ô tiêu đề */
.simple-table th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}

/* Định dạng các ô dữ liệu */
.simple-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Định dạng màu nền xen kẽ cho các hàng */
.simple-table tr:nth-child(even) {
    background-color: #f2f2f2;
}