.bottom-contact {
  background-color: rgb(55, 63, 78);
  color: rgb(255, 255, 255);
  opacity: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 99;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transition: all .24s;
}

.bottom-contact .contact-box {
  display: flex;
  background-color: hsla(0, 0%, 100%, .2);
  align-items: center;
  align-self: stretch;
  padding: 0 10px;
  flex-direction: row;
  cursor: pointer;
  justify-content: flex-start;
  border-radius: 3px;
  height: 40px;
  margin: 10px 5px;
}

.bottom-contact .contact-box:hover {
  background-color: rgba(27, 27, 27, .2);
  color: #fff;
}

.bottom-contact .contact-box:hover a {
  color: #fff;
}

.bottom-contact a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 14px;
}

.bottom-contact img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  box-sizing: border-box;
}